.header-background {
  
}

.header {
  background-image:url(5812F245-E582-4335-B44D-F6F8BBFEA7D4.jpeg);
  background-size:cover;
  color:black;
  text-align:center;
  font-size:50px;
}

.header span{
  color:red;
}

.sns a{
  font-family: monospace;
  letter-spacing:15px;
  font-size:40px;
  padding:20px 40px;
  border-radius:10px;
  color:black;
}

.youtube {
  background-color:red;
  text-align: center;
}

.youtube:hover {
background-color:white;
color:red;
transition:background-color 1s;
}

.instagram {
  background-color:orange;
  text-align: center;
}

.instagram:hover {
  background-color:white;
  color:orange;
  transition:background-color 1s;
}

.twitter {
  background-color:cyan;
  text-align: center;
}

.twitter:hover {
  background-color:white;
  color:lightblue;
  transition:background-color 1s;
}

.kizai {
  background-color:lightgreen;
  text-align:center;
}

.kizai:hover {
  background-color:white;
  color:lightgreen;
  transition:background-color 1s;
}


.schedule {
  text-align:center;
  padding-top:50px;
  padding-bottom:100px;
}

.schedule h2{
  color:black;
  font-size:50px;
}

.schedule p{
  color:black;
}

.blog {
  text-align:center;
  padding-top:50px;
  padding-bottom:100px;
}

.blog h2 {
  color:black;
  font-size:50px;
}

.blog {
  color:black;
}
