.header-background {
  
}

.header {
  background-image:url(5812F245-E582-4335-B44D-F6F8BBFEA7D4.jpeg);
  background-size:cover;
  padidng-top:400px;
  padding-bottom:400px;
  color:black;
}

.header h1 {
  padding-top:100px;
  font-size:50px;
  text-align:center;
}

.header span{
  color:red;
}

.sns a{
  width:25%;
  display:inline-block;
  font-family: monospace;
  letter-spacing:15px;
  font-size:30px;
  padding:20px 40px;
  border-radius:10px;
  color:black;
  
}

.youtube {
  background-color:red;
}

.instagram {
  background-color:orange;
}

.twitter {
  background-color:cyan;
}

.kizai {
  background-color:lightgreen;
}

.schedule {
  text-align:center;
  padding-top:50px;
  padding-bottom:100px;
}

.schedule h2{
  color:black;
  font-size:50px;
}

.schedule p{
  color:black;
}

.blog {
  text-align:center;
  padding-top:50px;
  padding-bottom:100px;
}

.blog h2 {
  color:black;
  font-size:50px;
}

.blog {
  color:black;
}
